@font-face {
  font-family: 'Abula';
  src: url('../../fonts/abula-regular-webfont.woff2') format('woff2'),
       url('../../fonts/abula-regular-webfont.woff') format('woff'),
       url('../../fonts/abula-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'AbulaLight';
  src: url('../../fonts/abula-extralight-webfont.woff2') format('woff2'),
       url('../../fonts/abula-extralight-webfont.woff') format('woff'),
       url('../../fonts/abula-extralight-webfont.ttf') format('truetype');
}


@font-face {
  font-family: 'AbulaBold';
  src: url('../../fonts/abula-bold-webfont.woff2') format('woff2'),
       url('../../fonts/abula-bold-webfont.woff') format('woff'),
       url('../../fonts/abula-bold-webfont.ttf') format('truetype');
}



// Our normalize sass file (from Foundation)
@import "../components/foundation/scss/normalize";

// Foundation override file
@import "settings";

// Import Foundation
@import "../components/foundation/scss/foundation";

// Our most basic level file type (variables, typography, etc)
@import "base/base";

// Our second level of file types that make up base files (forms, lists, etc)
@import "components/components";

// Large parts of our site that make up components (header, footer, etc)
@import "sections/sections";

// Our largest file types that encompass overall individual page styles
@import "pages/pages";

// Quick fix sass file to be used temporarily and moved onto its proper location when time permits
@import "shame";