// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

p {
	margin: 0;

	strong {
		font-weight: 400;
	}
}

// h1 {
// 	font-size: 2rem;
// 	font-weight: 700;
// }

// h2 {
// 	font-size: 1.25rem;
// 	font-weight: 700;
// }

h1, h2, h3, h4, h5,h6 {
	&.blue {
		color: $blue;
	}

	&.green {
		color: $green;
	}

	&.uppercase, &.upper {
		text-transform: uppercase;
	}
}

.entry-content, .wp-editor {
	max-width: 40rem;
	margin: 0 auto;

	h1, h2, h3, h4, h5,h6 {
		clear: both;
	}	

	img.alignleft {
		@media #{$medium-up} {
			float: left;
			margin: 2rem 2rem 2rem -35%;	
		}
		
	}

	img.alignright {
		@media #{$medium-up} {
			float: right;
			margin: 2rem -35% 2rem 2rem;
		}
	}

	img.aligncenter {
		float: none;
		display: block;
		clear: both;
		margin: 2rem auto;
	}
}

