#newsletter {
	padding: 2rem 0;
	background: $blue;
	color: $white;

	.call-to-action {
		color: $white;
		text-transform: uppercase;
		font-size: 2rem;
	}

	.box {
		border: 3px solid $white;
		max-width: 50rem;
		margin: 2rem auto;
		padding: 2rem 1rem;
	}
}

.gf_simple_horizontal_wrapper {
	margin: 0;
	padding: 0;
	max-width: none;

	#gform_1 {
		display: flex;
		align-items: center;
		justify-content: center;

		.gform_body {
			max-width: 30rem;
		}

		.ginput_container {
			margin: 0;

			input {
				margin: 0;
			}
		}

		.gform_footer {
			width: auto;
		}

		input[type="submit"] {
			margin: 0;
			padding: .5rem 1rem 0.53125rem 1rem;
			text-transform: uppercase;
		}
	}

}

@media only screen and (min-width: 641px) {
	#field_1_1 {
		width: 100%;
	}
}


#colophon {
	background: $black;
	padding: 0 0 1rem 0;

	a {
		color: $white;

		&:hover {
			cursor: pointer;
		}
	}

	.footer-info {
		
		padding: 2rem 0;

		.button {
			margin-top: 1rem;

			&:hover {
				color: $black;
			}
		}
	}

	.menu {
		margin: 0;
		padding: 0;
		margin-bottom: 2rem;
		list-style: none;

		li {
			list-style: none;
		}

		> li {
			float: left;
			margin-right: 1.5rem;

			@media screen and (max-width: 1000px){
				&:nth-child(3n + 4){
					clear: left;
				}
			}

			> a {
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 2px;
			}

			ul {
				margin: 0;
				padding: 0;
			}
		}
	}

	.social-media-links {
		a {
			display: inline-block;
			vertical-align: middle;
			text-transform: uppercase;

			.fa {
				padding: .5rem 1rem;
				color: $light-grey;
				font-size: 1.5rem;
				background: $dark-grey;
				vertical-align: middle;
			}

			&:hover .fa {
				background: $light-grey;
				color: $dark-grey;
			}
		}
	}

	.site-info {
		color: $white;
		text-align: center;
		padding: 1rem 0 0 0;
	}
}
