#masthead {
	background: $grey;
}

.site-branding {
	margin-bottom: 1.25rem;
}

.site-title {
	font-size: 3rem;
	margin: 0;
}

.site-description {
	margin: 0;
}

.main-navigation {
	background: $grey;
}

.main-navigation ul {
	margin: 0;
	
	a {
		letter-spacing: 2px;
	}

	.sub-menu {
		border-top: .5rem solid $brown;
		margin-top: -0.5rem;
	}
	
}

.top-bar-section .has-dropdown>a:after{
	border-top-color: $black;
}

.site-title a {
	display: block;
	max-width: 20rem;
	margin-top: 2rem;
	margin: 2rem auto;

	@media #{$medium-up} {
		margin: 2rem 0 0;
	}
}

.left-off-canvas-menu {

	ul {
		list-style: none;
	}

	li {
		margin: .5rem 0;
	}

	a {
		color: $white;
		text-transform: uppercase;
	}
}