.home {

	.section {
		margin-top: 2rem;
		margin-bottom: 2rem;

		@media #{$medium-up} {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
	}

	.hero {
		margin-top: 0;

		img {
			display: block;
		}
	}

	.camps {

		.camp-logo {
			max-width: 90%;
			display: block;
			margin: -5rem auto 0;
			max-height: 12rem;
		}
		
		.camp {
			border: 2px solid $grey;
			padding: 2rem;
			margin-bottom: 5rem;

			@media #{$medium-up} {
				margin-bottom: 0;
			}

			.info {
				margin: 2rem 0 1rem;
			}

			.description {
				text-align: center;
				margin-bottom: 2rem;
			}
		}

		.ages, .dates {
			font-size: 1.5rem;
			font-family: "AbulaBold";
			text-transform: uppercase;
			text-align: center;
		}
	}

	.mission {
		
		.title {
			font-family: "AbulaBold";
			font-size: 5rem;
			text-transform: uppercase;
			text-align: center;
		}

		.description {
			max-width: 50rem;
			text-align: center;
			margin: 0 auto;	
			font-size: 1.5rem;
		}
	}

	.testimonial {

		blockquote  {
			border: none;
			position: relative;
			font-family: 'AbulaLight';

			&:before {
				content: '"';
				font-size: 15rem;
				position: absolute;
				top: -0.5em;
				left: -0.25em;
				color: $green;
			}

			&:after {
				content: '"';
				font-size: 15rem;
				position: absolute;
				bottom: -1em;
				right: -0.1em;
				color: $green;
			}

			p {
				font-size: 2rem;
			}
		}

		.credit {
			color: $green;
		}
	}

	.donate {
		color: $white;
		
		.trees {
			padding: 3rem 0;
			background-image: url('../../images/donate-banner.jpg?cachebust=20160101');
			background-size: cover;
		}

		.title {
			font-family: "AbulaBold";
			font-size: 5rem;
			text-align: right;
			color: $white;
			text-transform: uppercase;
		}

		.button {
			margin-top: 2rem;
		}

		.description {
			// margin-top: 3rem;
			max-width: 30rem;
		}
	}
}