#content {
	margin: 2rem 0;
}

.entry-meta {
	margin-bottom: 1.25rem;
}

.updated {
	display: none;
}

.vcard {
	display: inherit;
	padding: 0;
	border: none;
	margin: 0;
}

.vcard .fn {
	font-weight: normal;
	font-size: 1rem;
}

.entry-content p {
	margin-bottom: 1.25rem;
}

.page {

	.entry-header {
		background: url('../../images/page-header.jpg');
		background-size: cover;
		padding: 2rem;
		margin-bottom: 1.25rem;

		.entry-title {
			color: $white;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

.page-template-camp {

	.camp-info {
		text-align: center;
		border: 2px solid $grey;
		padding: 2rem;
		max-width: 40rem;
		margin: 8rem auto 2rem;

		.logo {
			margin-top: -8rem;
			margin-bottom: 2rem;
		}

		.ages, .camp-date {
			font-family: 'AbulaLight', Arial, sans-serif;
			font-size: 2rem;
			text-transform: uppercase;
		}

		.bold {
			font-family: 'AbulaBold', Arial, sans-serif;
		}
	}

	.next-steps {
		font-family: 'AbulaBold', Arial, sans-serif;

		.title {
			font-size: 3rem;
			margin: 1rem 0;

		}
		
		ol {
			margin-top: 2.8rem;
			font-size: 2rem;
			list-style-position: inside;
			color: $blue;

			li {
				margin-bottom: 2rem;
				border: 2px solid $grey;
				padding: 1rem 2rem;
			}
		}

		.button {
			margin-top: 1rem;
		}

		p {
			font-family: $font-family-sans-serif;
			font-size: 1rem;
			color: $black;
		}

	}
}